<div class="new-background">
  <div class="crawl-form-wrapper">
    <%= form_for @crawl do |f| %>
      <div class="field">
        <h4>What shall we call your Weird Crawl?</h4>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <h4>How are you going to get around?</h4>
        <span class="mode-radio">
          <%= radio_button_tag(:mode, "BICYCLING") %>
          <%= label_tag(:mode, "Bicycling (Beta)") %>
        </span>
        <span class="mode-radio">
          <%= radio_button_tag(:mode, "WALKING") %>
          <%= label_tag(:mode, "Walking (Experimental)") %>
        </span>
        <span class="mode-radio">
          <%= radio_button_tag(:mode, "DRIVING") %>
          <%= label_tag(:mode, "Driving") %>
        </span>
      </div>
      <br>
      <div class="actions">
        <%= f.submit :class => "weird-button"%>
      </div>
    <% end %>
  </div>
</div>
