<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrciFSZIHPIokQFpVQo6i4boOCSu33w8&callback=initMap"
async defer></script>
<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map-box'), {
      center: {lat: 45.5231, lng: -122.5965},
      zoom: 11,
      styles: [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
    });
    <% @locations.each do |location| %>
      var filterVariable = $('#the-switch').html();
      if ("<%=location.category%>" == filterVariable || filterVariable == "All") {
        var infoWindow<%=location.id%>;
        var marker<%=location.id%> = new google.maps.Marker({
          position: {lat: <%=location.latitude.to_f %>, lng: <%=location.longitude.to_f %>},
          map: map,
          icon: "../images/<%=location.category.downcase%>.png"
        });
        var contentString<%=location.id%> = '<a href="<%= location.website.to_s %>" target="_blank"><h3><%= location.name.to_s %></h3></a><button class="crawl-adder"><%= link_to "ADD TO YOUR CRAWL", crawl_add_path(location.id), remote: true%></button><br><%= location.description.to_s %><br> <em>Category: <%= location.category.to_s %></em> <br> <a href="<%= location.streetview.to_s %>" target="_blank">Street View</a> <br>';

        //add info window to marker, close other info window when opening a new one
        google.maps.event.addListener(marker<%=location.id%>, 'click', function() {
          <% @locations.each do |loc_id| %>
            if (infoWindow<%=loc_id.id%> !== void 0) {
              infoWindow<%=loc_id.id%>.close();
            }
          <% end %>
          infoWindow<%=location.id%> = new google.maps.InfoWindow({
            content: contentString<%=location.id%>
          });
          infoWindow<%=location.id%>.open(map, marker<%=location.id%>);
        });
        marker<%=location.id%>.setMap(map);
      }

    <% end %>
  }


</script>



<h2 align="middle"><%= @crawl.name %> Crawl</h2>
<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical verts">

        <button id="All" class="filter btn  btn-all active">View All</button>

        <button id="Landmark" class="filter btn btn-landmark ">Landmarks</button>

        <button id="Park" class="filter btn btn-park ">Parks</button>

        <button id="Entertainment" class="filter btn btn-entertainment ">Entertainment</button>

        <button id="Food" class="filter btn btn-food ">Food</button>

        <button id="Store" class="filter btn btn-store ">Stores</button>

        <button id="Bar" class="filter btn btn-bar ">Bars</button>

        <button id="Hotel" class="filter btn btn-hotel ">Hotels</button>

        <button id="Museum" class="filter btn btn-museum ">Museums</button>

        <button id="Other" class="filter btn btn-other ">Other</button>
      </div>
    </div>
    <div class="col-md-8">
      <div id="map-box" style="background-color:green;">

      </div>
    </div>
    <div class="col-md-2">
      <h4>Your Selected Locations <span class="text-muted">You may have up to 8 locations</span></h4>
      <ol id="results-list">
        <% @crawl.stops.each do |id| %>
        <% location = Location.find(id) %>
        <li><%=location.name%></li>
        <%end%>
      </ol>
        <%= link_to "Create This Crawl", directions_path(@crawl), :class => "btn-success crawl-create"%>
    </div>
  </div>

</div>
<span id="the-switch" style="display:none;">All</span>
