ready = function() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrciFSZIHPIokQFpVQo6i4boOCSu33w8&callback=initMap';
  document.body.appendChild(script);
};

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map-box'), {
    center: {lat: 45.5231, lng: -122.5965},
    zoom: 11,
    styles: [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
  });
  <% Location.all.each do |location| %>
    var filterVariable = $('#the-switch').html();
    if ("<%=location.category%>" == filterVariable || filterVariable == "All") {
      var infoWindow<%=location.id%>;
      var marker<%=location.id%> = new google.maps.Marker({
        position: {lat: <%=location.latitude.to_f %>, lng: <%=location.longitude.to_f %>},
        map: map,
        icon: "images/<%=location.category.downcase%>.png"
      });
      var formattedName = "<%= location.name %>";
      <% if 1 == 0 %>
      this description text goes back in
      var formattedDescription = "<%= location.description %>";
      ' + formattedDescription + '
      <% end %>
      var formattedStreetview = "<%= location.streetview %>";
      var contentString<%=location.id%> = "<a href='<%= location.website.to_s %>' target='_blank'><h3>" + formattedName + "</h3></a><br>Description goes here<br> <em>Category: <%= location.category.to_s %></em> <br> <a href=" + formattedStreetview + " target='_blank'>Street View</a> <br>";

      //add info window to marker, close other info window when opening a new one
      google.maps.event.addListener(marker<%=location.id%>, 'click', function() {
        <% Location.all.each do |loc_id| %>
          if (infoWindow<%=loc_id.id%> !== void 0) {
            infoWindow<%=loc_id.id%>.close();
          }
        <% end %>
        infoWindow<%=location.id%> = new google.maps.InfoWindow({
          content: contentString<%=location.id%>
        });
        infoWindow<%=location.id%>.open(map, marker<%=location.id%>);
      });
      marker<%=location.id%>.setMap(map);
    }
  <% end %>
  $('#Data').on('click', function() {
    dataMap(map);
    createLegend(map)
  })
}

$(document).on('page:load', function() {
  $('.filter').each(function() {
    var iD = $(this).attr('id').toString()
    $('#' + iD).on('click', function() {
      $('#the-switch').html(iD);
      $('.filter').each(function() {
        $(this).removeClass('active');
      })
      $(this).addClass('active');
      initMap();
    })
  })
})
// creates the bars per neighborhood datalayer
function dataMap(map) {
  var infoWindow = new google.maps.InfoWindow({
    content: ""
  });
  var featureNumber = <%= Location.all.first.number_of_bars() %>
  console.log(featureNumber)
  console.log(getColor(featureNumber))
    var neighborhood = new google.maps.Data();
    neighborhood.loadGeoJson('https://gist.githubusercontent.com/SamiAljamal/6dc9409bbfa932e21669f53e1de7672b/raw/962ec9c9e63a0bf3e946fb59f980dabb38a78625/porltand.json');
    neighborhood.setStyle(function(feature) {
      return {
        fillColor: getColor(feature.getProperty('bars')),
        fillOpacity: 0.8,
        strokeColor: '#b3b3b3',
        strokeWeight: 1,
        zIndex: 1
      };
    });
    neighborhood.addListener('mouseover', function(e) {
      neighborhood.overrideStyle(e.feature, {
        strokeColor: '#2a2a2a',
        strokeWeight: 2,
        zIndex: 2
      });
    });
    neighborhood.addListener('mouseout', function(e) {
      neighborhood.revertStyle();
    });
    neighborhood.addListener('click', function(e) {
      console.log(e);
      infoWindow.setContent('<div style="line-height:1.00;overflow:hidden;white-space:nowrap;">' +
        e.feature.getProperty('name') + '<br> bars: ' +
        e.feature.getProperty('bars') + '</div>');
      var anchor = new google.maps.MVCObject();
      anchor.set("position", e.latLng);
      infoWindow.open(map, anchor);
    });
    neighborhood.setMap(map);
}
// sets the color for each neighborhood based on number of bars
function getColor(featureNumber) {
  var colors = [
    '#fee5d9',
    '#fcae91',
    '#fb6a4a',
    '#de2d26',
    '#a50f15'
  ];
  return featureNumber >= 25 ? colors[4] :
    featureNumber > 15 ? colors[3] :
    featureNumber > 3 ? colors[2] :
    featureNumber > 0 ? colors[1] :
    colors[0];
}
function createLegend(map) {
  var div = document.createElement('div');
  div.innerHTML = '<h4>Total Bars in Each Neighborhood</h4>' +
  '<ul>' +
  '<li><h5><div class="legend-color" id="zero"></div> = 0</h5></li>' +
  '<li><h5><div class="legend-color" id="one"></div> = 1-3</h5></li>' +
  '<li><h5><div class="legend-color" id="three"></div> = 3-15</h5></li>' +
  '<li><h5><div class="legend-color" id="fifteen"></div> = 15-25</h5></li>' +
  '<li><h5><div class="legend-color" id="twenty-five"></div> = more than 25</h5></li>';
  $('#legend').empty();
  $('#legend').append(div);
  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].clear();
  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
}
