<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrciFSZIHPIokQFpVQo6i4boOCSu33w8&callback=initMap"
async defer></script>
<script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map-box'), {
          center: {lat: 45.5231, lng: -122.4965},
          zoom: 11,
          styles: [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
        });


        <% @locations.each do |location| %>
        var infoWindow<%=location.id%>;
        var catName = "<%= location.category.downcase %>"
        var iconPath = "../../../public/images/" + catName + ".png"
        var marker<%=location.id%> = new google.maps.Marker({
          position: {lat: <%=location.latitude.to_f %>, lng: <%=location.longitude.to_f %>},
          map: map
        });
        var contentString<%=location.id%> = '<a href="<%= location.website.to_s %>" target="_blank"><h3><%= location.name.to_s %></h3></a><br><%= location.description.to_s %><br> <em>Category: <%= location.category.to_s %></em> <br> <a href="<%= location.streetview.to_s %>" target="_blank">Street View</a> <br>';

        //add info window to marker, close other info window when opening a new one
        google.maps.event.addListener(marker<%=location.id%>, 'click', function() {
          <% @locations.each do |loc_id| %>
            if (infoWindow<%=loc_id.id%> !== void 0) {
              infoWindow<%=loc_id.id%>.close();
            }
          <% end %>
          infoWindow<%=location.id%> = new google.maps.InfoWindow({
            content: contentString<%=location.id%>
          });
          infoWindow<%=location.id%>.open(map, marker<%=location.id%>);
        });
        marker<%=location.id%>.setMap(map);

        <% end %>

      }
    </script>

<h1 id="hide">hello world</h1>
<button type="button" id="hider">Hide it</button>
<div id="map-box">

</div>
hi

<ul>
  <% @locations.each do |location| %>
    <%=location.name%>
    <br>
    <%=location.description%>
    <hr>
  <% end %>
</ul>
