<!DOCTYPE html>
<html>
  <head>
    <title>Weirdmap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <h1><%= link_to "Weird Map", root_path, :id => "banner-link" %></h1>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <div class="container">
        © 2016. Patrick Lipscomb.
      </div>
    </footer>
  </body>
</html>
